%h1 コミットガシャ

%p ガシャ結果

%p= link_to 'ログアウト', '/github/logout'
%p= link_to_if @user.can_turn_card?, 'ガシャを引く', '/gasha'
= render 'shared/user_info'

%div
  %h2= @card.title
  %img{ src: @card.img_path }
