= render 'shared/top', user: @user, title: 'Home'

- if @user
  %h2 ランダム PickUp
  %div.card-list
    = render @random_cards
  %h2 取得カード
  %div.card-min-list
    = render 'cards/cards_min', cards: @user.cards
- else
  %p= link_to 'ログイン', '/login'
